body{
    display: flex;
   font-family: Arial, Helvetica, sans-serif;
justify-content: center;
gap: 30px;
}

.circle{
    background-color: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    
}

.box-dot{
    display: flex;
    gap: 5px;
}
.dot{
    border-radius: 50%;
    background-color: black;
    width:10px;
    height:10px;
}

#card{
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
    border-radius: 1rem;
    height: 470px;
    width: 360px;
    box-shadow: 3px 3px gray ;
    
}



.card-header{
    display: flex;
    justify-content: space-evenly;
    background-color:#D1D1D1 ;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    gap:0px;
    
}



.box-header{
    display: flex;
    height: 70px;
    align-items: center;
    width:250px;
    gap: 8px;
}

.box-header ul{
    display:flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
   padding: 0px;
   align-items: flex-start;
   
   
    
    

}

.box-header ul li h3{
  margin: 0%;
 

  
}

.box-header ul li h4{
    
    margin: 0%;
    color: #EFEFEF;
    
    
}

picture{
    display: inline-flex;
    width: 359px;
    height: 241px;

}

picture img{
    min-width: 100%;
}

.box-font{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
   

}

.box-font div{
    margin-top: 10px;
    display: inline-flex;
    gap: 10px;
    margin-left: 30px;
    }

.box-font p{
    margin:0px ;
    align-self: center;


}

@media screen and (max-width:1144px){
      body{
          gap:10px;
          display: inline-flex;
      }
}

@media screen and (max-width:768px){
      body{
          justify-content: flex-start;
          flex-wrap: wrap;
         
      }
}
@media screen and (min-width:430px) and (max-width:744px){
    body{
         justify-content: center;
    }
}
@media screen and (max-width:430px){
    body{
        justify-content:center;
    }
}

