body{
    display: grid;
   grid-template-columns:repeat(3,1fr);
   grid-auto-rows:minmax(100px,auto);
    grid-template-areas:
    "g g g  "
    "y  o  r"
    " y b  r";
}

#green{
    grid-area:g;
}
#yellow{
    grid-area: y;
}

#orange{
    grid-area:o;
}

#blue{
    grid-area:b;
}

#red{
    grid-area:r;
}